## Creating a Database in python

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root"
)

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute("show databases")

In [5]:
for i in mycursor:
    print(i)

('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('smec',)
('sys',)
('titanic',)
('world',)

In [6]:
mycursor.execute("create database MyDatabase")

In [7]:
mycursor.execute("show databases")
for i in mycursor:
    print(i)

('information_schema',)
('mydatabase',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('smec',)
('sys',)
('titanic',)
('world',)

In [8]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "MyDatabase"
)

In [9]:
mycursor = mydb.cursor()

In [10]:
mycursor.execute("show tables")

In [11]:
for i in mycursor:
    print(i)

In [12]:
mycursor.execute("create table customers(Id int auto_increment primary key,name varchar(255),address varchar(25))")

In [13]:
mycursor.execute("show tables")
for i in mycursor:
    print(i)

('customers',)

In [14]:
mycursor.execute("select * from customers")

In [18]:
mycursor.fetchall()

[]

In [21]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [23]:
mycursor.execute("select * from customers")
mycursor.fetchall()

[(1, 'Peter', 'Lowstreet 4'),
 (2, 'Amy', 'Apple st 652'),
 (3, 'Hannah', 'Mountain 21'),
 (4, 'Michael', 'Valley 345'),
 (5, 'Sandy', 'Ocean blvd 2'),
 (6, 'Betty', 'Green Grass 1'),
 (7, 'Richard', 'Sky st 331'),
 (8, 'Susan', 'One way 98'),
 (9, 'Vicky', 'Yellow Garden 2'),
 (10, 'Ben', 'Park Lane 38'),
 (11, 'William', 'Central st 954'),
 (12, 'Chuck', 'Main Road 989'),
 (13, 'Viola', 'Sideway 1633'),
 (14, 'Peter', 'Lowstreet 4'),
 (15, 'Amy', 'Apple st 652'),
 (16, 'Hannah', 'Mountain 21'),
 (17, 'Michael', 'Valley 345'),
 (18, 'Sandy', 'Ocean blvd 2'),
 (19, 'Betty', 'Green Grass 1'),
 (20, 'Richard', 'Sky st 331'),
 (21, 'Susan', 'One way 98'),
 (22, 'Vicky', 'Yellow Garden 2'),
 (23, 'Ben', 'Park Lane 38'),
 (24, 'William', 'Central st 954'),
 (25, 'Chuck', 'Main Road 989'),
 (26, 'Viola', 'Sideway 1633'),
 (27, 'Peter', 'Lowstreet 4'),
 (28, 'Amy', 'Apple st 652'),
 (29, 'Hannah', 'Mountain 21'),
 (30, 'Michael', 'Valley 345'),
 (31, 'Sandy', 'Ocean blvd 2'),
 (32, 'Betty', 'Green Grass 1'),
 (33, 'Richard', 'Sky st 331'),
 (34, 'Susan', 'One way 98'),
 (35, 'Vicky', 'Yellow Garden 2'),
 (36, 'Ben', 'Park Lane 38'),
 (37, 'William', 'Central st 954'),
 (38, 'Chuck', 'Main Road 989'),
 (39, 'Viola', 'Sideway 1633')]

In [25]:
mycursor.execute("select * from customers")
mycursor.fetchone()

(1, 'Peter', 'Lowstreet 4')

In [29]:
mycursor.execute("select * from customers")
mycursor.fetchall()

[(1, 'Peter', 'Lowstreet 4'),
 (2, 'Amy', 'Apple st 652'),
 (3, 'Hannah', 'Mountain 21'),
 (4, 'Michael', 'Valley 345'),
 (5, 'Sandy', 'Ocean blvd 2'),
 (6, 'Betty', 'Green Grass 1'),
 (7, 'Richard', 'Sky st 331'),
 (8, 'Susan', 'One way 98'),
 (9, 'Vicky', 'Yellow Garden 2'),
 (10, 'Ben', 'Park Lane 38'),
 (11, 'William', 'Central st 954'),
 (12, 'Chuck', 'Main Road 989'),
 (13, 'Viola', 'Sideway 1633'),
 (14, 'Peter', 'Lowstreet 4'),
 (15, 'Amy', 'Apple st 652'),
 (16, 'Hannah', 'Mountain 21'),
 (17, 'Michael', 'Valley 345'),
 (18, 'Sandy', 'Ocean blvd 2'),
 (19, 'Betty', 'Green Grass 1'),
 (20, 'Richard', 'Sky st 331'),
 (21, 'Susan', 'One way 98'),
 (22, 'Vicky', 'Yellow Garden 2'),
 (23, 'Ben', 'Park Lane 38'),
 (24, 'William', 'Central st 954'),
 (25, 'Chuck', 'Main Road 989'),
 (26, 'Viola', 'Sideway 1633'),
 (27, 'Peter', 'Lowstreet 4'),
 (28, 'Amy', 'Apple st 652'),
 (29, 'Hannah', 'Mountain 21'),
 (30, 'Michael', 'Valley 345'),
 (31, 'Sandy', 'Ocean blvd 2'),
 (32, 'Betty', 'Green Grass 1'),
 (33, 'Richard', 'Sky st 331'),
 (34, 'Susan', 'One way 98'),
 (35, 'Vicky', 'Yellow Garden 2'),
 (36, 'Ben', 'Park Lane 38'),
 (37, 'William', 'Central st 954'),
 (38, 'Chuck', 'Main Road 989'),
 (39, 'Viola', 'Sideway 1633')]

In [30]:
mycursor.fetchall()

[]

In [31]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(9, 'Vicky', 'Yellow Garden 2')
(22, 'Vicky', 'Yellow Garden 2')
(35, 'Vicky', 'Yellow Garden 2')