In [49]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database='smec'
)
mycursor = mydb.cursor()
mycursor.execute("select * from customers limit 10")
for x in mycursor:
  print(x)

(1, 'Ramesh', 32, 'Ahamedabad', Decimal('2000.00'))
(2, 'SK', 60, 'Kochi', Decimal('3200.00'))
(3, 'kaushik', 23, 'Ahamedabad', Decimal('2000.00'))
(4, 'Rahul', 25, 'KOCHI', Decimal('3500.00'))
(5, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))
(6, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))

In [50]:
mycursor = mydb.cursor()
mycursor.execute("show tables")
for x in mycursor:
  print(x)

('customers',)
('orders',)
('sales',)

In [51]:
mycursor = mydb.cursor()
mycursor.execute("select * from orders")
for x in mycursor:
  print(x)

(100, datetime.date(2009, 10, 8), 3, 1500)
(101, datetime.date(2009, 11, 20), 2, 1560)
(102, datetime.date(2009, 10, 8), 3, 3000)
(103, datetime.date(2008, 5, 20), 4, 2060)

In [52]:
mycursor = mydb.cursor()
mycursor.execute("select * from customers")

In [53]:
for i in mycursor:
    print(i)

(1, 'Ramesh', 32, 'Ahamedabad', Decimal('2000.00'))
(2, 'SK', 60, 'Kochi', Decimal('3200.00'))
(3, 'kaushik', 23, 'Ahamedabad', Decimal('2000.00'))
(4, 'Rahul', 25, 'KOCHI', Decimal('3500.00'))
(5, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))
(6, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))

In [54]:
mycursor.execute('insert into customers values(6,"Krishnan",25,"KOCHI",3500)')
print(mycursor.rowcount, 'Records inserted')
mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry '6' for key 'customers.PRIMARY'

In [55]:
mycursor.execute('select * from customers')
for x in mycursor:
  print(x)

(1, 'Ramesh', 32, 'Ahamedabad', Decimal('2000.00'))
(2, 'SK', 60, 'Kochi', Decimal('3200.00'))
(3, 'kaushik', 23, 'Ahamedabad', Decimal('2000.00'))
(4, 'Rahul', 25, 'KOCHI', Decimal('3500.00'))
(5, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))
(6, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))