### Numbers

In [1]:
number = 2024
print(type(number))
number = 72.5
print(type(number))
number = 4 + 3j
print(type(number))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
print(number)

(4+3j)

In [3]:
4+5

9

In [4]:
+,-,*,/,//,%,**

SyntaxError: invalid syntax (300592536.py, line 1)

In [5]:
10/3

3.3333333333333335

In [6]:
10//3

3

In [7]:
2*2*2

8

In [8]:
2**3

8

In [9]:
10*5

50

In [10]:
10*5.0

50.0

In [11]:
a = 5
b = 2
a+5

10

In [12]:
number = 20

In [13]:
print(f"The number you have provided is {number} and the squares of {number} is {number**2}")

The number you have provided is 20 and the squares of 20 is 400

In [14]:
a = 20

In [15]:
a == number

True

In [16]:
a != number

False

In [17]:
a > number

False

In [18]:
a < number

False

In [19]:
a >= number

True

In [20]:
5 <= 10

True

In [21]:
10 >= 15

False

In [22]:
"a" == "b"

False

In [23]:
"Python" != "Java"

True

In [24]:
language = "python"

In [25]:
year = "2024"

In [26]:
language + year

'python2024'

In [27]:
language *5

'pythonpythonpythonpythonpython'

In [28]:
year *2

'20242024'

In [29]:
number *2

40

In [30]:
number = 20

In [31]:
number += 1

In [32]:
number

21

In [33]:
number = number + 1

In [34]:
number

22

In [35]:
number *= 5

In [36]:
print(number)

110

In [37]:
number /= 5
print(number)

22.0

In [38]:
number -= 5
print(number)

17.0

In [39]:
number **= 2

In [40]:
print(number)

289.0

In [41]:
number //= 17
print(number)

17.0

In [42]:
number %=2
number

1.0

In [43]:
number *= 58
print(number)

58.0

In [44]:
5 < 5 and 10==10

False

In [45]:
number

58.0

In [46]:
number == 5 or 10 >= 20

False

In [47]:
number == 5

False

In [48]:
not True

False

In [49]:
not False

True

In [50]:
not(number == 58)

False

In [51]:
not(10 == 15 or 15 >=8)

False

In [52]:
print(language)

python

In [53]:
print("p" in language)

True

In [54]:
not True

False

In [3]:
st1="hello"
st2="Hello"
print(st1 is st2)

False

In [55]:
print("p" not in language)

False

In [56]:
print(10 is 10)

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_16612\2815904644.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10)

In [57]:
"Python" is "Java"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_16612\3604434783.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Python" is "Java"

False

In [2]:
print("Python" != "Java")

True

## Tuple

In [1]:
thistuple = (1,2,3,4,5,6)
thistuple2 = (1,"name",True)

In [12]:
print(thistuple[0])

1

In [13]:
print(thistuple[0:5])

(1, 2, 3, 4, 5)

In [14]:
print(thistuple[0::2])

(1, 3, 5)

In [15]:
print(thistuple)

(1, 2, 3, 4, 5, 6)

In [16]:
print(1 in thistuple)

True

In [17]:
print(7 in thistuple)

False

In [18]:
print(8 not in thistuple)

True

In [19]:
print(10 not in thistuple)

True

In [11]:
#Adding elements to a Tuples

In [20]:
thistuple2 = (5,6,7,8,9,10)

In [21]:
thistuple + thistuple2

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 10)

In [22]:
thistuple3 = thistuple + thistuple2
print(thistuple3)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 10)

In [25]:
thislist = list(thistuple3)
thislist.pop()

10

In [27]:
thistuple3 = tuple(thislist)

In [28]:
print(thistuple3)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9)

In [29]:
print(thistuple3 * 5)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9)

#### Tuple Unpacking

In [34]:
fruits = ("apple", "banana", "cherry","apple")
(green,red,*orange,)=fruits
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [35]:
print(green)

apple

In [36]:
print(orange)

['cherry', 'apple']

In [45]:
fruits = ("apple", "banana", "cherry","apple")
(*green,red,orange)=fruits
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [46]:
print(green)

['apple', 'banana']

In [47]:
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [49]:
sorted(fruits)

['apple', 'apple', 'banana', 'cherry']

In [50]:
len(fruits)

4

In [51]:
type(fruits)

tuple

In [52]:
type(green)

list

In [53]:
type(red)

str

In [55]:
this = tuple([1,2,3,4])

In [56]:
this

(1, 2, 3, 4)

In [58]:
type(this)

tuple

In [59]:
this[-1]

4

In [60]:
thislist

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9]

In [61]:
del thislist[-1]

In [62]:
print(thislist)

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8]

In [63]:
del this

In [64]:
thistuple3

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9)

In [65]:
thistuple3.count(3)

1

In [66]:
thistuple3.index(5)

4

In [68]:
variable = "name"
variable.index("n")

0

In [75]:
variable.index("2")

ValueError: substring not found

In [69]:
variable.find("n")

0

In [70]:
variable.find(0)

TypeError: must be str, not int

In [71]:
variable.find("N")

-1

In [73]:
variable.find("z")

-1

In [77]:
print(thistuple3)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9)

In [90]:
single_elemnent_tuple = ("a",)

In [91]:
two_element_tuple = ("a","b")

In [92]:
type(single_elemnent_tuple)

tuple

In [93]:
empty_tuple = ()

In [94]:
type(empty_tuple)

tuple

## Set

In [96]:
thisset = {}

In [97]:
type(thisset)

dict

In [98]:
thisset = set()

In [99]:
print(type(thisset))

<class 'set'>

In [100]:
thisset = {"apple","banana","Orange","Jackfruit"}

In [101]:
print(thisset)

{'Jackfruit', 'Orange', 'banana', 'apple'}

In [102]:
thisset[::2]

TypeError: 'set' object is not subscriptable

In [103]:
thisset[0]

TypeError: 'set' object is not subscriptable

In [104]:
thisset[1:2]

TypeError: 'set' object is not subscriptable

In [105]:
"apple" in thisset

True

In [107]:
for i in thisset:
    print(i)

Jackfruit
Orange
banana
apple

In [108]:
len(thisset)

4

In [109]:
set2 = set(thisset)

In [110]:
print(set2)

{'Jackfruit', 'Orange', 'banana', 'apple'}

In [111]:
set3 = set(thistuple3)

In [112]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [113]:
set4 = set([1,2,3,4,5,6,7,4,1,3,3,5,7,7,4,1,3,3,6,4,7,6,2,1])
print(set4)

{1, 2, 3, 4, 5, 6, 7}

In [115]:
sorted(set2)

['Jackfruit', 'Orange', 'apple', 'banana']

In [180]:
set5 = {"apple","kiwi","banana","lime"}

In [181]:
sorted(set5)

['apple', 'banana', 'kiwi', 'lime']

In [182]:
del set2[2]

TypeError: 'set' object doesn't support item deletion

In [183]:
set5.add("cherry")

In [184]:
print(set5)

{'lime', 'cherry', 'banana', 'kiwi', 'apple'}

In [185]:
set5.update(set2)
print(set5)

{'Jackfruit', 'Orange', 'lime', 'cherry', 'banana', 'kiwi', 'apple'}

In [186]:
set5.update([1,2,3,4])
print(set5)

{'Jackfruit', 1, 'Orange', 'lime', 2, 'cherry', 3, 4, 'banana', 'kiwi', 'apple'}

In [187]:
set5.update((10,20,30))

In [188]:
set5

{1,
 10,
 2,
 20,
 3,
 30,
 4,
 'Jackfruit',
 'Orange',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'lime'}

In [189]:
set5.remove(1)

In [190]:
set5.remove(5)

KeyError: 5

In [191]:
print(set5)

{'Jackfruit', 'Orange', 'lime', 2, 'cherry', 3, 4, 10, 'banana', 'kiwi', 20, 30, 'apple'}

In [192]:
set5.discard(5)

In [193]:
print(set5)

{'Jackfruit', 'Orange', 'lime', 2, 'cherry', 3, 4, 10, 'banana', 'kiwi', 20, 30, 'apple'}

In [194]:
set5.discard("Orange")

In [195]:
print(set5)

{'Jackfruit', 'lime', 2, 'cherry', 3, 4, 10, 'banana', 'kiwi', 20, 30, 'apple'}

In [196]:
set5

{10, 2, 20, 3, 30, 4, 'Jackfruit', 'apple', 'banana', 'cherry', 'kiwi', 'lime'}

In [176]:
print(set5.pop())

cherry

In [204]:
print(set5)

set()

In [238]:
set5 = {'Jackfruit', 'lime', 2, 'cherry', 3, 4, 10, 'banana', 'kiwi', 20, 30, 'apple'}

In [231]:
i = len(set5)
while i>0:
    set5.pop()
    i = len(set5)
print(set5)

set()

In [237]:
print(set5)

set()

In [235]:
set5.clear()

In [236]:
set5

set()

In [239]:
set5.copy()

{10, 2, 20, 3, 30, 4, 'Jackfruit', 'apple', 'banana', 'cherry', 'kiwi', 'lime'}

In [240]:
variable

'name'

In [241]:
set5

{10, 2, 20, 3, 30, 4, 'Jackfruit', 'apple', 'banana', 'cherry', 'kiwi', 'lime'}

In [242]:
set4 = set5

In [243]:
set4.add("100")

In [244]:
set4

{10,
 '100',
 2,
 20,
 3,
 30,
 4,
 'Jackfruit',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'lime'}

In [245]:
set5

{10,
 '100',
 2,
 20,
 3,
 30,
 4,
 'Jackfruit',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'lime'}

In [246]:
st4 = set5.copy()

In [247]:
st4.clear()

In [248]:
set5

{10,
 '100',
 2,
 20,
 3,
 30,
 4,
 'Jackfruit',
 'apple',
 'banana',
 'cherry',
 'kiwi',
 'lime'}

In [249]:
set4.clear()

In [250]:
set4

set()

In [251]:
set5

set()

In [1]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9,10}

In [12]:
unionset = set1.union(set2)

In [13]:
print(set1)

{1, 2, 3, 4, 5, 6}

In [14]:
print(set2)

{4, 5, 6, 7, 8, 9, 10}

In [15]:
print(unionset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
#intersection

In [17]:
intersection_set = set1.intersection(set2)

In [18]:
print(intersection_set)

{4, 5, 6}

In [19]:
set1.isdisjoint(set2)

False

In [20]:
set3 = {1,2,3}
set4 = {4,5,6}

In [21]:
set3.isdisjoint(set4)

True

In [23]:
superset = {1,2,3,4,5,6,7,8,9,10}
subset = {1,2,3,4,5,6}

In [24]:
subset > superset

False

In [25]:
subset < superset

True

In [26]:
subset == superset

False

In [33]:
set3 >= set4

False

In [46]:
set4 = {4,5,6,7,8,9}
set3 = {4,5,6,7,8}

In [50]:
set4.difference_update(set3)

In [51]:
set4.intersection_update(set3)

In [52]:
set4.symmetric_difference_update(set3)

{4, 5, 6, 7, 8}

In [53]:
set6 = {}

## DIctionary

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [63]:
thisdict2 = {
    "brand": "BMW",
    "model": "S6",
    "year": 2024,
    "year": 2025,
    "year": 2026,
}

In [64]:
print(thisdict2)

{'brand': 'BMW', 'model': 'S6', 'year': 2026}

In [65]:
thisdict2["brand"]

'BMW'

In [66]:
thisdict2["year"]

2026

In [67]:
thisdict2.get("brand")

'BMW'

In [69]:
thisdict2.get("year")

2026

In [73]:
thisdict2['year']

2026

In [74]:
thisdict2.get("model")

'S6'

In [75]:
"year" in thisdict2

True

In [76]:
2026 in thisdict2

False

In [78]:
"model" in thisdict2

True

In [79]:
thisdict2["model"] = "Mercedes"

In [80]:
thisdict2

{'brand': 'BMW', 'model': 'Mercedes', 'year': 2026}

In [81]:
thisdict2["colour"] = "red"

In [82]:
thisdict2

{'brand': 'BMW', 'model': 'Mercedes', 'year': 2026, 'colour': 'red'}

In [83]:
thisdict2.keys()

dict_keys(['brand', 'model', 'year', 'colour'])

In [85]:
thisdict2.values()

dict_values(['BMW', 'Mercedes', 2026, 'red'])

In [86]:
thisdict2.items()

dict_items([('brand', 'BMW'), ('model', 'Mercedes'), ('year', 2026), ('colour', 'red')])

In [88]:
thisdict2.update(thisdict)

In [96]:
thisdict2.update([("age",20)])

In [97]:
thisdict2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colour': 'red', 'age': 20}

In [103]:
x = ('key1', 'key2', 'key3')
y = 2

thisdict = dict.fromkeys(x,y)

print(thisdict)

{'key1': 2, 'key2': 2, 'key3': 2}

In [104]:
thisdict.fromkeys(("Model","Brand","Year"),)

{'Model': None, 'Brand': None, 'Year': None}

In [105]:
thisdict

{'key1': 2, 'key2': 2, 'key3': 2}

In [122]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)

white

In [123]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [124]:
car.setdefault("color")

'white'

In [125]:
car.setdefault("color","blue")

'white'

In [126]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [127]:
del car["brand"]

In [120]:
car

{'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [121]:
del car

In [128]:
car

{'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [129]:
type(car)

dict

In [130]:
len(car)

3

In [131]:
sorted(car)

['color', 'model', 'year']

In [2]:
thislist = [1,2,3,4,5,6]
thislist.append(7)
print(thislist)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
thislist.append([8,9])

In [4]:
print(thislist)

[1, 2, 3, 4, 5, 6, 7, [8, 9]]

In [6]:
thislist.extend([8])
print(thislist)

[1, 2, 3, 4, 5, 6, 7, [8, 9], 8]

In [7]:
thislist.extend([1,2,3,4])
thislist

[1, 2, 3, 4, 5, 6, 7, [8, 9], 8, 1, 2, 3, 4]

In [9]:
thislist.insert(1,"a")

In [10]:
thislist

[1, 'a', 2, 3, 4, 5, 6, 7, [8, 9], 8, 1, 2, 3, 4]

In [13]:
thislist.count(1)

2

In [16]:
thislist.index(1)

0

In [20]:
print(thislist)
print(thislist.pop())
thislist

[1, 'a', 2, 3, 4, 5, 6, 7, [8, 9], 8, 1]
1

[1, 'a', 2, 3, 4, 5, 6, 7, [8, 9], 8]

In [21]:
thislist.pop(3)
print(thislist)

[1, 'a', 2, 4, 5, 6, 7, [8, 9], 8]

In [23]:
thislist.pop(1)

TypeError: '<' not supported between instances of 'list' and 'int'

In [26]:
thislist.remove([8,9])

In [27]:
thislist.sort()
print(thislist)

[1, 2, 4, 5, 6, 7, 8]

In [28]:
thislist.sort(reverse= True)

In [29]:
thislist

[8, 7, 6, 5, 4, 2, 1]

In [30]:
x = 25 
x //= 4   #x = x//4  means 25//4 == 6
x += 5 
print(x)

11

In [31]:
x = 10 
print(5 < x <= 15 and x % 2 == 0)

True

In [32]:
x = True 
y = False 
print(not x and y or x)

True

In [33]:
x = 10 
y = 3 
z = 2 
result = (x ** y) % z 
print(result)

0

In [34]:
x = "apple" 
y = "apple" 
print(x == y, x is y)

True True

In [35]:
a = True 
b = False 
print(a or b and not a)

True

In [36]:
x, y, z = 5, 10, 20 
x *= y + z 
z = x - y 
print(z)

140

In [37]:
x = 5.5 
y = 2 
print(x // y)

2.0

In [38]:
x = 15 
y = 20 
x += 5 
y = x == y 
print(y)

True

In [39]:
result = "5" + 2 * "3" 
print(result)

533

In [41]:
thislist = list((1,2,3,4,5))
print(thislist)

[1, 2, 3, 4, 5]

In [43]:
thislist = list((1,2,3,4,5))
print(thislist)

thislist2 = list("hello World")
print(thislist2)

string2 = "Python programming"
string_to_list = list(string2)
print(string_to_list)

thistuple = (11,12,13,14,15)
thislist3 = list(thistuple)
print(thislist3)

[1, 2, 3, 4, 5]
['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
[11, 12, 13, 14, 15]

In [17]:
x = False

y = False

result = y or x and not y

print(result)

False

In [20]:
x = 100 

z= (50 < x < 200!=150) 

print(z)

True

In [23]:
a = "string" 

b = "string" 

print(a is b, a == b)

True True

In [24]:
result = 5 * 2 in [10, 20, 30] 

print(result)

True

In [25]:
x = None 

y = 0 

print(x is not y)

True

In [26]:
a = 3 

b = 5 

a += b and a 

print(a)

6

In [29]:
print(5 and 10)

10

In [30]:
6 and 12

12

In [31]:
12 and 4

4

In [32]:
not(5 and 3)

False

In [34]:
x = 5 * 2 + 10 // 3 * 3
print(x == 19)

True

In [35]:
x = y = 100 

z = 100 

print(x is y, x is z)

True True

In [2]:
str = "poitive"
str[:2]

'po'

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Step 2: Load the dataset
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

# Step 3: Preprocess the data
# Separate features and target variable from training data
X_train = train_data.drop('label', axis=1)  # Features
y_train = train_data['label']  # Target variable

# Optional: Check for missing values (if needed)
# X_train.isnull().sum()

# Step 4: Train-Test Split (optional, for model evaluation)
# Split the training data into train and validation sets (80% training, 20% validation)
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Step 5: Train the Logistic Regression model
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train_split, y_train_split)

# Step 6: Make predictions on the validation set (optional, for evaluation)
y_val_pred = log_reg.predict(X_val_split)

# Step 7: Evaluate the model on the validation set (optional)
accuracy = accuracy_score(y_val_split, y_val_pred)
print(f"Validation Accuracy: {accuracy:.4f}")

# Step 8: Make predictions on the test set
X_test = test_data  # Assuming the test data contains only feature columns
y_test_pred = log_reg.predict(X_test)

# Step 9: Prepare the submission file
submission = pd.DataFrame({
    'label': y_test_pred
})

submission.to_csv('submissions.csv', index=False)

print("Submission file created successfully.")