In [23]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
if num2!=0:
    print(num1/num2)
else:
    print("The zero division is not possible")

The zero division is not possible

In [26]:
try:
    num1 = int(input("Enter the first number"))
    num2 = int(input("Enter the second number"))
    result=(num1/num2)
    print("The divion result:",result)
except ValueError:
    print("Invalid number entered")
except ZeroDivisionError:
    print("Dividing with zero is not possible")

Dividing with zero is not possible

In [29]:
try:
    num1 = int(input("Enter the first number"))
    num2 = int(input("Enter the second number"))
    result=(num1/num2)
    
except ValueError:
    print("Invalid number entered")
except ZeroDivisionError:
    print("Dividing with zero is not possible")
else:
    print(f"The result of the division is: {result}")

Dividing with zero is not possible
inside finally

In [22]:
try:
    a = int(input("Enter a:"))
    b = int(input("Enter b:"))
    c = a/b
    print("result:",c)
    print("hi..")
except:
    print("Can't divide with zero")

print("outside exception")

Can't divide with zero
outside exception

In [33]:
try:
    age = int(input("Enter the age:"))
    if(age<18):
        raise ValueError
    else:
        print("the age is valid")
except Exception:
    print("The age is not valid")

print("outside exception")

the age is valid
outside exception

In [3]:
import re
txt = "The rain in Spain"
x = re.search("r", txt)

In [4]:
x.start()

4

In [8]:
import re
txt = "hello planet"
x = re.findall("^hello", txt)
print(x)

['hello']

In [20]:
import re
txt = "hello planet"
x = re.findall("he..o", txt)
print(x)

['hello']

In [22]:
type(name)

str

In [38]:
class Student:
    def __init__(self, name, id, age):
        self.name = name
        self.id = id
        self.age = age
    def show(self):
        print(self.age)
        # creates the object of the class Student

s = Student("John", 101, 22)
# prints the attribute name of the object s
print(getattr(s, "name"))

# reset the value of attribute age to 23
setattr(s, "age", 23)

# prints the modified value of age
print(getattr(s, 'age'))

John
23

In [40]:
s.show()

23

In [42]:
class Student:
    def __init__(self,name,id,age):
        self.name = name
        self.id = id
        self.age = age
    def display_details(self):
        print("Name:%s, ID:%d, age:%d" % (self.name,self.id,self.age))
s = Student("John",101,22)
print("Doc:",s.__doc__)
print("Dict:",s.__dict__)
print("Module:",s.__module__)
print("Name:",Student.__name__)
print("Base:",Student.__bases__)

Doc: None
Dict: {'name': 'John', 'id': 101, 'age': 22}
Module: __main__
Name: Student
Base: (<class 'object'>,)

In [43]:
class Animal:
    def speak(self):
        print("speaking")
class Dog(Animal):
    def speak(self):
        print("Barking")
d = Dog()
d.speak()

Barking

In [5]:
while True:
    # Ask for user input
    user_input = input("Enter a number between 1 and 20 (or type 'quit' to exit): ")

    # Allow exit from the loop
    if user_input.lower() == 'quit':
        print("Exiting the program.")
        break
    
    # Check if input is a valid number
    try:
        number = int(user_input)
    except ValueError:
        print("Invalid input. Please enter a number.")
        continue

    # if-elif-else conditions
    if number < 5:
        print("You are in the first if block: number is less than 5.")
    elif 5 <= number <= 10:
        print("You are in the first elif block: number is between 5 and 10.")
    elif 11 <= number <= 15:
        print("You are in the second elif block: number is between 11 and 15.")
    elif 16 <= number <= 20:
        print("You are in the third elif block: number is between 16 and 20.")
    else:
        print("You are in the else block: number is outside the range 1-20.")

Invalid input. Please enter a number.
Invalid input. Please enter a number.
Invalid input. Please enter a number.
You are in the first elif block: number is between 5 and 10.
Exiting the program.

In [14]:
"abc. DEF".capitalize()

'Abc.def'

In [21]:
2**9

512

In [29]:
number = int(input("Enter the number to check whether it is positive/not"))
if number >0:
    print("The number is positive")
elif number ==0:
    print("The number is zero")
else:
    print("The number is negative")

The number is negative

In [33]:
marks = int(input("Enter the marks you have got"))
if 100>marks>85:
    print("You got the grade A")
elif 84>marks>60:
    print("You got a score of B")

You got the grade A

In [ ]:
marks = int(input("Enter the marks you have got"))
if 100>marks>85:
    print("You got the grade A")
elif 84>marks>60:
    print("You got a score of B")

In [1]:
import mysql.connector

In [5]:
mydb = mysql.connector.connect(
    host="localhost",
    username="root",
    password="root",
    database="smec"
    )

In [13]:
mycursor = mydb.cursor()

In [14]:
mycursor.execute("show tables")

In [15]:
result = mycursor.fetchall()

In [16]:
print(result)

[('customers',), ('orders',), ('sales',), ('titanic',)]

In [18]:
mycursor.execute("select * from customers")
mycursor.fetchall()

[(1, 'Ramesh', 32, 'Ahamedabad', Decimal('2000.00')),
 (2, 'SK', 60, 'Kochi', Decimal('3200.00')),
 (3, 'kaushik', 23, 'Ahamedabad', Decimal('2000.00')),
 (4, 'Rahul', 25, 'KOCHI', Decimal('3500.00')),
 (5, 'Krishnan', 25, 'KOCHI', Decimal('3500.00')),
 (6, 'Krishnan', 25, 'KOCHI', Decimal('3500.00'))]

In [ ]:
# sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
# val = ("John", "Highway 21")
mycursor.execute("insert into customers values(9,\"Fysal\",44,\"Kerala\",1000.00),")
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.