In [1]:
name =  "Akshay"
"A" in name

True

In [4]:
"Y" not in name

True

In [6]:
str = "Hello"
str1 = " world"

In [21]:
print(str*3)  #prints HelloHelloHello
print(str+str1) #prints Hello world
print(str[4])  #prints o
print(str[2:4]) #prints ll
print('w' in str) #prints false as w is not present in str
print('wo' not in str1) # prints false as wo is present in str1.
print(r'C:\\python37') # prints C://python37 as it is written
print("The string str : %s and str1:%s" % (str,str1)) # prints The
# string str : Hello

HelloHelloHello
Hello world
o
ll
False
False
C:\\python37
The string str : Hello and str1: world

In [40]:
str = "They said,\"Hello what's going on?" #error
print(str)

They said,"Hello what's going on?

In [44]:
print("Python1\
Python2\
Python3")

Python1Python2Python3

In [49]:
print("Hello \bWorld")

HelloWorld

In [58]:
var1 = 10
var2 = 1.290
var3 = "Devansh"
print("Integer: %d\nFloat:%f\nString:%s" % (var1,var2,var3))

Integer: 10
Float:1.290000
String:Devansh

In [11]:
# Python endswith() function example
# Variable declaration
str = "Hello this is python"
isends = str.endswith("on",18)
# Displaying result
print(isends)

True

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [21]:
thislist = ["apple", "banana", "cherry","banana"]
for i in thislist:
    if "banana" in thislist:
        thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
del thislist
print(thislist) # error

['apple', 'banana', 'cherry']

NameError: name 'thislist' is not defined

In [25]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [26]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [32]:
thislist = ["Orange", "Mango", "kiwi", "pineapple", "banana"]
l2 = []
for i in thislist:
    l2.append(i.lower())
l2.sort()
print(l2)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [40]:
list1 = ['apple', 'banana', 'cherry']
list2 = list1.copy()
list2.pop()
list2.pop()
list1

['apple', 'banana', 'cherry']

In [49]:
tuple1 = ()
type(tuple1)

set

In [54]:
fruits = ("apple", "banana", "cherry")
(green,red,orange)=fruits
print(fruits)

('apple', 'banana', 'cherry')

In [57]:
green

'apple'

In [60]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow) = fruits
print(green)
print(yellow)

apple
['banana', 'cherry', 'strawberry', 'raspberry']

In [64]:
list2 = [1,2,3,4,5]
list2 * 5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [67]:
thisset = set(["apple", "banana", "cherry"]) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [72]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [73]:
a = {1,2,3,4,5}
b = {1,2,9,8,10}
c = a.symmetric_difference(b)
print(c)

{3, 4, 5, 8, 9, 10}

In [74]:
# 1: using union | operator
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}
Days2 = {"Friday","Saturday","Sunday"}
print(Days1|Days2) #printing the union of the sets

{'Sunday', 'Wednesday', 'Tuesday', 'Monday', 'Friday', 'Saturday', 'Thursday'}

In [75]:
Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [76]:
Days1.intersection(Days2)

{'Sunday'}

In [77]:
Days1&Days2

{'Sunday'}

In [78]:
Days1-Days2

{'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [79]:
Days1-Days2

{'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [80]:
Days2^Days1

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [81]:
Days1.symmetric_difference(Days2)

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [85]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday"}
Days3 = {"Monday", "Tuesday", "Friday"}
#Days1 is the superset of Days2 hence it will print true.
print (Days1>Days2)

#prints false since Days1 is not the subset of Days2
print (Days1<Days2)

#prints false since Days2 and Days3 are not equivalent
print (Days2 == Days3)

True
False
False

In [86]:
Days2.issubset(Days2)

True

In [87]:
Days1.issuperset(Days2)

True

In [94]:
tuple1 = (100, 20, 30, 40)
x, y, *z = tuple1
z

[30, 40]

In [95]:
sorted(tuple1)

[20, 30, 40, 100]

In [99]:
set1 = {1, 2, 3}
# set1.append(4)
print(set1)

AttributeError: 'set' object has no attribute 'append'

In [101]:
set1 = {1, 2, 3}
set1.clear()
print(set1)

set()

In [102]:
set1 = {1, 2, 3}
set1.discard(4)
print(set1)

{1, 2, 3}

In [105]:
s1 = {1, 2, 3}

In [121]:
my_dict = {'a': 1, 'b': 2}
my_dict.keys()
my_dict.values()
my_dict.get("c")

In [129]:
my_dict = {'a': 1, 'b': 2}
for x,y in my_dict.items():
    print(y)

1
2

In [130]:
my_dict = {1: 'one', 2: 'two', 3: 'three'}
print(3 in my_dict.items() and 'three' in my_dict.values())

False

In [131]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 > d2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [1]:
name = "Python "
name.rstrip()

'Python'

In [2]:
name = " Python"
name.lstrip()

'Python'

In [4]:
name = " Python "
name.strip()

'Python'

In [28]:
list1 = ["1","2","3"]
name2 = name.join("")
name2

''

In [59]:
a = 10
b = 4

# Print bitwise AND operation
print(a & b)

0

In [69]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [81]:
st1="hello"
st2="hello"
st1 is st2

True

In [88]:
list_of_names = [1,2,3,4,5,6,7]
7 not in list_of_names

False

In [89]:
list_of_names[0] = 2

In [91]:
list_of_names

[2, 2, 3, 4, 5, 6, 7]

In [99]:
thislist = ["apple", "banana", "cherry"]
thislist[0:3] = ["blackcurrant", "watermelon"]
print(thislist)

['blackcurrant', 'watermelon']

In [110]:
list2 = [0,1,2,3,4,5,6,7,8,9]
list2[0:2]= [2,2,2,2,2,2,2,5]
print(list2)

[2, 2, 2, 2, 2, 2, 2, 5, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [119]:
thislist.clear()

In [120]:
thislist

[]

In [137]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
sorted(thislist, reverse= True)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [151]:
thislist.reverse()
thislist

['cherry', 'Kiwi', 'Orange', 'banana']

In [161]:
thislist

['apple', 'banana', 'cherry']

In [162]:
newlist = thislist
newlist

['apple', 'banana', 'cherry']

In [163]:
newlist.append("Jackfruit")

In [164]:
newlist

['apple', 'banana', 'cherry', 'Jackfruit']

In [165]:
thislist

['apple', 'banana', 'cherry', 'Jackfruit']

In [166]:
newlist1 = thislist.copy()

In [167]:
newlist1

['apple', 'banana', 'cherry', 'Jackfruit']

In [168]:
newlist1.append("Mosambi")
newlist1

['apple', 'banana', 'cherry', 'Jackfruit', 'Mosambi']

In [173]:
thislist

['apple', 'banana', 'cherry', 'Jackfruit']

In [181]:

thislist.index("banana")

1

In [182]:
thistuple2 = tuple(["apple", "banana", "cherry"]) # note the square brackets(list)
print(thistuple2)

('apple', 'banana', 'cherry')

In [183]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [198]:
x = ("apple", "banana", "cherry")
y = (1,2,3,4,5,6)
z = x+y

In [199]:
z[-1]
z

('apple', 'banana', 'cherry', 1, 2, 3, 4, 5, 6)

In [217]:
(a,b,c,d,e,f,g,h,i) = z

In [224]:
a = thislist

In [220]:
a

['apple',
 'banana',
 'cherry',
 'Jackfruit',
 'apple',
 'banana',
 'cherry',
 'Jackfruit']

In [232]:
thislist = ["apple", "banana", "cherry", "apple"] # note the double round-brackets
set00  = set(thislist)

In [233]:
set00

{'apple', 'banana', 'cherry'}

In [4]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}
Days2 = {"Friday","Saturday","Sunday"}
Days1.union(Days2) #printing the union of the sets

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [16]:
nums = [10,2,3.4,5,6]

In [18]:
nums*4

[10, 2, 3.4, 5, 6, 10, 2, 3.4, 5, 6, 10, 2, 3.4, 5, 6, 10, 2, 3.4, 5, 6]

In [19]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [35]:
a = thisdict.keys()

In [36]:
type(a)

dict_keys

In [38]:
for i in a:
    print(thisdict[i])

Ford
Mustang
1964

In [44]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [49]:
"Ford" in thisdict.values()

True

In [57]:
thisdict.update({"Year":"2024"})

In [52]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Year': '2024'}

In [55]:
thisdict.pop("Year")

'2024'

In [58]:
thisdict.popitem()

('Year', '2024')