In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even = []
odd = []
for i in numbers:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print("The even numbers are:")
for i in even:
    print(i,end=',')
print("\nThe odd numbers are")
for i in odd:
    print(i,end=',')

The even numbers are:
2,4,6,8,10,
The odd numbers are
1,3,5,7,9,

In [9]:
thislist = [1,2,3,4,5,6,7,8,9,10]
count_of_odd = 0
count_of_even = 0
for i in thislist:
    if i % 2 == 0:
        count_of_even += 1
    else:
        count_of_odd += 1
print(count_of_even,"even numbers","and",count_of_odd,"odd numbers")

5 even numbers and 5 odd numbers

In [21]:
register = ["Antony","Abhijith","Alan","Suhail","Amal","Sara","Sachin","Krishna"]
present = ["Antony","alan","amal","sachin","Krishna"]

In [22]:
register2 = [i.lower() for i in register]
register2

['antony', 'abhijith', 'alan', 'suhail', 'amal', 'sara', 'sachin', 'krishna']

In [23]:
for i in present:
    if i.lower() in register2:
        register2.remove(i.lower())
        print(f"{i} is present in the class")
for i in register2:
    print(f"{i} is abscent today")

print(f"Out of the {len(register)} students {len(present)} students are present today")

Antony is present in the class
alan is present in the class
amal is present in the class
sachin is present in the class
Krishna is present in the class
abhijith is abscent today
suhail is abscent today
sara is abscent today
Out of the 8 students 5 students are present today

In [52]:
thislist = [1,2,3,4,5]
squares = []
print(len(squares))
for i in thislist:
        squares.append(i**2)
for i in squares:
        print(i, end=' ')

0
1 4 9 16 25

In [57]:
thislist = range(1,50)
for i in thislist:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [61]:
thislist = list(range(1,50))
type(thislist)

list

In [64]:
squares_50 = [i**2 for i in range(1,51)]

In [63]:
print(squares_50)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]