In [2]:
def sum():
    a = 10
    b = 20
    c = a+b
    return c
# calling sum() function in print statement
print("The sum is:",sum())

The sum is: 30

In [3]:
sum()

30

In [2]:
def addition(a,b):
    return a+b

In [3]:
print(addition(1,2))

3

In [33]:
def welcome():
    '''Simply print a message to welcome the user'''
    print("Hello user")

In [34]:
welcome()

Hello user

In [8]:
def data(column,datatype):
    """Print the data types"""
    print(f"The {column} is of {datatype} data type")

In [9]:
data("Age","integer")

The Age is of integer data type

In [14]:
data("string","name")

The string is of name data type

In [16]:
def welcome_user(name):
    '''Print a personalized message'''
    print(f"Hi {name}, welcome back")
welcome_user("fysal")

Hi fysal, welcome back

In [18]:
def favourit_movie(movie):
    '''Printing the favorite movie name'''
    print(f"{movie} is one of my favorite movie ")
favourit_movie("interstellar")

interstellar is one of my favorite movie

In [19]:
def describe_vehicle(vehicle_type,vehicle_name):
    """Describing about the vehicle"""
    print(f"I have {vehicle_type}")
    print(F"my {vehicle_type}'s name is {vehicle_name}")

In [23]:
describe_vehicle("Car","BMW")

I have Car
my Car's name is BMW

In [24]:
describe_vehicle("Nano","Car")

I have Nano
my Nano's name is Car

In [ ]:
vehicle_type:sedan
vehicle_name:bmw

In [27]:
describe_vehicle(vehicle_type="sedan",vehicle_name="bmw")

I have sedan
my sedan's name is bmw

In [28]:
describe_vehicle(vehicle_name="S6",vehicle_type="Bus")

I have Bus
my Bus's name is S6

In [52]:
def calculate_total_prize(prize,quantity):
    """The function should return the total price for the given quantity of
items"""
    return prize*quantity

In [53]:
p1 = 5
q1 =10

calculate_total_prize(p1,q1)

50

In [11]:
def calculate_total_prize():
    """The function should return the total price for the given quantity of
items"""
    p1 = int(input("Enter the unit prize"))
    q1 = int(input("Enter the quantity"))
    print(p1*q1)

calculate_total_prize()

120

In [ ]:
def calculate_total_price(price_per_item, quantity):
    return price_per_item * quantity
price_per_item = int(input("enter the price per item"))
quantity = int(input("enter the quantity"))
total_price = calculate_total_price(price_per_item,quantity)
print(f"total amount is Rs.{total_price}")

In [16]:
def calculate_total_price():
    price = int(input("Enter the prize of unit"))
    quantity = int(input("Enter the number of item wish to purchase"))
    print(f"The total prize is {price * quantity}")

In [17]:
calculate_total_price()

The total prize is 150

In [31]:
def hi_name(first_name,Last_name="Rafeek"):
    print(f"Hi {first_name} {Last_name}")

In [32]:
hi_name(first_name="Suhail")

Hi Suhail Rafeek

In [34]:
def make_mug(size,text):
    '''Mug desciption'''
    print(f'The mug has a size of {size} and mug contain a text that is {text}')

In [37]:
make_mug(8,"Good Morning!!")

The mug has a size of 8 and mug contain a text that is Good Morning!!

In [43]:
def data_science(*tools):
    for i in tools:
        print(f"I am using {i} for my data analaysis works")

In [44]:
data_science("python","Excel","Java")

I am using python for my data analaysis works
I am using Excel for my data analaysis works
I am using Java for my data analaysis works

In [51]:
def prepare_sadya(number_of_items, *dishes):
    """The function prints total items number and all dishes"""
    print(f"Today we serving sadya with {number_of_items} delicious dishes")
    print("\nThe items are:")
    for dish in dishes:
        print(dish, end=",")

In [52]:
prepare_sadya(4,"Rice","Sambar","Pappadam","Achar")

Today we serving sadya with 4 delicious dishes

The items are:
Rice,Sambar,Pappadam,Achar,

In [56]:
def food(**names):
    print(names)
food(a="Apple")
food(fruits="Orange", Vagitables="Carrot")

{'a': 'Apple'}
{'fruits': 'Orange', 'Vagitables': 'Carrot'}

In [57]:
food(shakes = "Sharjah", hot= "Coffee")

{'shakes': 'Sharjah', 'hot': 'Coffee'}

In [72]:
def create_student_profile(first,last,**user_info):
    """Creating a function that bulid user profile student"""
    user_info["first_name"] = first
    user_info["last_name"] = last
    for i,j in user_info.items():
        print(i,":",j)

In [73]:
create_student_profile("fysal","kasim",year=2024,state="kerala")

year : 2024
state : kerala
first_name : fysal
last_name : kasim

In [74]:
def create_student_profile(first,middle,last,):
    """Creating a function that bulid user profile student"""
    print(f"The full name is {first} {middle} {last}")

In [75]:
create_student_profile("suhail","M","rafeek")

The full name is suhail M rafeek

In [76]:
create_student_profile("suhail","Rafeek")

TypeError: create_student_profile() missing 1 required positional argument: 'last'

In [78]:
def create_student_profile(first,last,middle = ''):
    """Creating a function that bulid user profile student"""
    print(f"The full name is {first} {middle} {last}")

In [80]:
create_student_profile("Suhail","Rafeek")
create_student_profile("Suhail","M","Rafeek")

The full name is Suhail  Rafeek
The full name is Suhail Rafeek M

In [81]:
def create_student_profile(first,last,middle = ''):
    """Creating a function that bulid user profile student"""
    if middle:
        print(f"The full name is {first} {middle} {last}")
    else:
        print(f"The full name is {first} {last}")

In [84]:
create_student_profile("Suhail","Rafeek")

The full name is Suhail Rafeek

In [85]:
def create_student_profile(first,last,middle = None):
    """Creating a function that bulid user profile student"""
    if middle:
        print(f"The full name is {first} {middle} {last}")
    else:
        print(f"The full name is {first} {last}")

In [87]:
create_student_profile("Suhail","Rafeek","M")

The full name is Suhail M Rafeek

In [92]:
def print_message():
    message = "hello !! I am going to print a message." # the variable message is local to the function itself
    print(message)

message = "Hello world"
print_message()
print(message)

hello !! I am going to print a message.
Hello world

In [89]:
def calculate(*args):
    sum=0
    for arg in args:
        sum = sum +arg
    print("The sum is",sum)

sum=0
calculate(10,20,30) #60 will be printed as the sum
print("Value of sum outside the function:",sum) # 0 will be printed  Output:

The sum is 60
Value of sum outside the function: 0

In [93]:
att = dir()
# Displaying result
print(att)

['In', 'Out', '_', '_19', '_4', '_6', '_8', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '__vsc_ipynb_file__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_i92', '_i93', '_ih', '_ii', '_iii', '_oh', 'calculate', 'calculate_total_price', 'calculate_total_prize', 'char', 'count', 'create_student_profile', 'd', 'data_science', 'exit', 'food', 'get_formatted_name', 'get_ipython', 'hi_name', 'mak_mug', 'make_mug', 'message', 'myfunc', 'open', 'prepare_sadya', 'print_message', 'quit', 'repeated_count', 'sum', 'var']

In [106]:
list2 = [1,2,3,4,2,1,3,3,6,5,4,1]

In [110]:
sorted(list(reversed(list2)))

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 6]

In [108]:
list2.sort(reverse=True)

In [109]:
list2

[6, 5, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1]

In [113]:
s1="hai"
s=s1 +","+str(25)
print(s)

hai,25

In [114]:
type(s1)

str