### Numbers

In [1]:
number = 2024
print(type(number))
number = 72.5
print(type(number))
number = 4 + 3j
print(type(number))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
print(number)

(4+3j)

In [3]:
4+5

9

In [4]:
+,-,*,/,//,%,**

SyntaxError: invalid syntax (300592536.py, line 1)

In [5]:
10/3

3.3333333333333335

In [6]:
10//3

3

In [7]:
2*2*2

8

In [8]:
2**3

8

In [9]:
10*5

50

In [10]:
10*5.0

50.0

In [11]:
a = 5
b = 2
a+5

10

In [12]:
number = 20

In [13]:
print(f"The number you have provided is {number} and the squares of {number} is {number**2}")

The number you have provided is 20 and the squares of 20 is 400

In [14]:
a = 20

In [15]:
a == number

True

In [16]:
a != number

False

In [17]:
a > number

False

In [18]:
a < number

False

In [19]:
a >= number

True

In [20]:
5 <= 10

True

In [21]:
10 >= 15

False

In [22]:
"a" == "b"

False

In [23]:
"Python" != "Java"

True

In [24]:
language = "python"

In [25]:
year = "2024"

In [26]:
language + year

'python2024'

In [27]:
language *5

'pythonpythonpythonpythonpython'

In [28]:
year *2

'20242024'

In [29]:
number *2

40

In [30]:
number = 20

In [31]:
number += 1

In [32]:
number

21

In [33]:
number = number + 1

In [34]:
number

22

In [35]:
number *= 5

In [36]:
print(number)

110

In [37]:
number /= 5
print(number)

22.0

In [38]:
number -= 5
print(number)

17.0

In [39]:
number **= 2

In [40]:
print(number)

289.0

In [41]:
number //= 17
print(number)

17.0

In [42]:
number %=2
number

1.0

In [43]:
number *= 58
print(number)

58.0

In [44]:
5 < 5 and 10==10

False

In [45]:
number

58.0

In [46]:
number == 5 or 10 >= 20

False

In [47]:
number == 5

False

In [48]:
not True

False

In [49]:
not False

True

In [50]:
not(number == 58)

False

In [51]:
not(10 == 15 or 15 >=8)

False

In [52]:
print(language)

python

In [53]:
print("p" in language)

True

In [54]:
not True

False

In [55]:
print("p" not in language)

False

In [56]:
print(10 is 10)

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_16612\2815904644.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10)

In [57]:
"Python" is "Java"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_16612\3604434783.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "Python" is "Java"

False

In [58]:
"Python" is not "Java"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_16612\1604958603.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  "Python" is not "Java"

True

In [1]:
thistuple = (1,2,3,4,5,6)
thistuple2 = (1,"name",True)

In [12]:
print(thistuple[0])

1

In [13]:
print(thistuple[0:5])

(1, 2, 3, 4, 5)

In [14]:
print(thistuple[0::2])

(1, 3, 5)

In [15]:
print(thistuple)

(1, 2, 3, 4, 5, 6)

In [16]:
print(1 in thistuple)

True

In [17]:
print(7 in thistuple)

False

In [18]:
print(8 not in thistuple)

True

In [19]:
print(10 not in thistuple)

True

In [11]:
#Adding elements to a Tuples

In [20]:
thistuple2 = (5,6,7,8,9,10)

In [21]:
thistuple + thistuple2

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 10)

In [22]:
thistuple3 = thistuple + thistuple2
print(thistuple3)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 10)

In [25]:
thislist = list(thistuple3)
thislist.pop()

10

In [27]:
thistuple3 = tuple(thislist)

In [28]:
print(thistuple3)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9)

In [29]:
print(thistuple3 * 5)

(1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9)

#### Tuple Unpacking

In [34]:
fruits = ("apple", "banana", "cherry","apple")
(green,red,*orange,)=fruits
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [35]:
print(green)

apple

In [36]:
print(orange)

['cherry', 'apple']

In [45]:
fruits = ("apple", "banana", "cherry","apple")
(*green,red,orange)=fruits
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [46]:
print(green)

['apple', 'banana']

In [47]:
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [49]:
sorted(fruits)

['apple', 'apple', 'banana', 'cherry']

In [50]:
len(fruits)

4

In [51]:
type(fruits)

tuple

In [52]:
type(green)

list

In [53]:
type(red)

str

In [55]:
this = tuple([1,2,3,4])

In [56]:
this

(1, 2, 3, 4)

In [58]:
type(this)

tuple

In [59]:
this[-1]

4

In [60]:
thislist

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9]

In [61]:
del thislist[-1]

In [62]:
print(thislist)

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8]

In [63]:
del this