In [6]:
import pandas as pd
import numpy as np

In [7]:
print(pd.__version__)

2.1.4

In [18]:
s = pd.Series()
print(s)

Series([], dtype: object)

In [22]:
a = pd.Series([10,11,12,13,14,15,16],index=("Row1","Row2","Row3","Row4","Row5","Row6","Row7"))
print(a)

Row1    10
Row2    11
Row3    12
Row4    13
Row5    14
Row6    15
Row7    16
dtype: int64

In [31]:
a = [9,8,7,6,5,4]

srs = pd.Series(a,range(1,(len(a))+1))

In [32]:
srs

1    9
2    8
3    7
4    6
5    5
6    4
dtype: int64

In [41]:
import pandas as pd
import numpy as np
data = {'a' : 0, 'b' : 1, 'c' : 2}
s = pd.Series(data,index=["b","c","d","a"])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [47]:
s = pd.Series("s", index=[0,1,2,3])
s

0    s
1    s
2    s
3    s
dtype: object

In [48]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [52]:
print(s.iloc[0])

1

In [53]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [54]:
print(s[::2])

a    1
c    3
e    5
dtype: int64

In [57]:
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [58]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [59]:
s["f"] = 6

In [60]:
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [67]:
print(s[['a','b']])

a    1
b    2
dtype: int64

In [71]:
print(s["e":"a":-1])

e    5
d    4
c    3
b    2
a    1
dtype: int64

In [72]:
df = pd.DataFrame()

In [73]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [81]:
data = [1,2,3,4,5]
df = pd.DataFrame(data,index=["a","b","c","d","e"],columns=["Name"])
print(df)

   Name
a     1
b     2
c     3
d     4
e     5

In [91]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [93]:
df["Age"] = df["Age"].astype(float)

In [94]:
df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [105]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [106]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [108]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['first', 'second'],columns=["a","b"])
print(df)

        a   b
first   1   2
second  5  10

In [112]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'],
columns=['a', 'b'])

In [113]:
#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [114]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print (df['one'])
print (df[['one','two']])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
# Creating a DataFrame from a list of lists
data_list = [['Alex', 10, 'New York'], ['Bob', 12, 'Los Angeles'], ['Clarke', 13, 'Chicago']]
df_from_list = pd.DataFrame(data_list)
print("\nDataFrame from list of lists:")
print(df_from_list)

DataFrame from list of lists:
        0   1            2
0    Alex  10     New York
1     Bob  12  Los Angeles
2  Clarke  13      Chicago

In [116]:
# Assuming there's a CSV file named 'data.csv' with appropriate data
# df_from_csv = pd.read_csv('data.csv')
# print("\nDataFrame from CSV file:")
# print(df_from_csv)

# For demonstration, we will create a similar DataFrame manually.
data_csv = {
    'Name': ['Alex', 'Bob', 'Clarke'],
    'Age': [10, 12, 13],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df_from_csv = pd.DataFrame(data_csv)
print("\nDataFrame simulating CSV input:")
print(df_from_csv)

DataFrame simulating CSV input:
     Name  Age         City
0    Alex   10     New York
1     Bob   12  Los Angeles
2  Clarke   13      Chicago

In [117]:
import numpy as np

# Creating a DataFrame from a NumPy array
data_array = np.array([[1, 2, 3], [4, 5, 6]])
df_from_array = pd.DataFrame(data_array, columns=['Column1', 'Column2', 'Column3'])
print("\nDataFrame from NumPy array:")
print(df_from_array)

DataFrame from NumPy array:
   Column1  Column2  Column3
0        1        2        3
1        4        5        6

In [118]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [123]:
df["Three"] = pd.Series((4,5,6,7),index=["a","b","c","d"])

In [124]:
df

   one  two  Three
a  1.0    1      4
b  2.0    2      5
c  3.0    3      6
d  NaN    4      7

In [125]:
df["four"] = df["Three"]+df["two"]

In [126]:
df

   one  two  Three  four
a  1.0    1      4     5
b  2.0    2      5     7
c  3.0    3      6     9
d  NaN    4      7    11

In [127]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [128]:
del df["one"]

In [129]:
df

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [130]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [131]:
df.pop('two')

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [132]:
df

   one  three
a  1.0   10.0
b  2.0   20.0
c  3.0   30.0
d  NaN    NaN

In [137]:
df.drop(columns="three")

   one
a  1.0
b  2.0
c  3.0
d  NaN

In [138]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [144]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print(df.loc["a"])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    1.0
two    1.0
Name: a, dtype: float64

In [145]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print(df.iloc[2])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    3.0
two    3.0
Name: c, dtype: float64

In [146]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [157]:
df.loc["b":"c","one":"two"]

   one  two
b  2.0    2
c  3.0    3

In [160]:
df.loc["b","two"]

2

In [185]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print("df")
print(df)
print("df2")
print(df2)

df3 = pd.concat([df,df2])

df
   a  b
0  1  2
1  3  4
df2
   a  b
0  5  6
1  7  8

In [186]:
df3.reset_index(inplace=True)

In [187]:
df3

   index  a  b
0      0  1  2
1      1  3  4
2      0  5  6
3      1  7  8

In [190]:
df3.drop(0,inplace=True)

In [194]:
df3.drop("index",axis=1,inplace=True)
df3

   a  b
1  3  4
2  5  6
3  7  8

In [183]:
df3.pop("index")

0    0
1    1
2    0
3    1
Name: index, dtype: int64

In [184]:
df3

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

In [200]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alex', 'Bob', 'Clarke', 'David'],
    'Age': [10, 12, 13, 14],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Dropping a row by index label
df_dropped_row = df.drop(1)  # Dropping row with index 1 (Bob)

# Display the DataFrame after dropping the row
print("\nDataFrame after dropping row with index 1 (Bob):")
print(df_dropped_row)

Original DataFrame:
     Name  Age         City
0    Alex   10     New York
1     Bob   12  Los Angeles
2  Clarke   13      Chicago
3   David   14      Houston

DataFrame after dropping row with index 1 (Bob):
     Name  Age      City
0    Alex   10  New York
2  Clarke   13   Chicago
3   David   14   Houston

In [201]:
df

     Name  Age         City
0    Alex   10     New York
1     Bob   12  Los Angeles
2  Clarke   13      Chicago
3   David   14      Houston

In [202]:
df.drop(columns="Name")

   Age         City
0   10     New York
1   12  Los Angeles
2   13      Chicago
3   14      Houston

In [3]:
3+5

8

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [ ]:
# df = pd.DataFrame(np.random.randn(4, 3), columns=['col1', 'col2', 'col3'])
# print(df)
# for key, value in df.iteritems():
#     print("Key:",key)
#     print("Values:")
#     print(value)

       col1      col2      col3
0 -1.455766 -1.117618  1.741684
1 -0.041218 -1.070438  1.701344
2  1.446233  1.410833  0.540810
3  0.773136  1.280330  0.561308

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [15]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
print(df)
for row_index,row in df.iterrows():
   print("Row Index:",row_index)
   print("Row")
   print(row)

       col1      col2      col3
0 -1.055639 -0.293428 -0.137088
1 -0.121389 -0.939199 -1.193812
2  0.864163 -0.352700 -0.627842
3 -1.791856 -1.245464  0.385468
Row Index: 0
Row
col1   -1.055639
col2   -0.293428
col3   -0.137088
Name: 0, dtype: float64
Row Index: 1
Row
col1   -0.121389
col2   -0.939199
col3   -1.193812
Name: 1, dtype: float64
Row Index: 2
Row
col1    0.864163
col2   -0.352700
col3   -0.627842
Name: 2, dtype: float64
Row Index: 3
Row
col1   -1.791856
col2   -1.245464
col3    0.385468
Name: 3, dtype: float64

In [11]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
print(df)
for row in df.itertuples():
    print(row)

       col1      col2      col3
0 -0.464720  0.836069 -0.291723
1 -0.352846 -1.014504 -0.202564
2  1.541023 -0.034268  2.778998
3 -0.435442  1.006085  0.044664
Pandas(Index=0, col1=-0.4647204400001899, col2=0.8360693238004427, col3=-0.29172265879530146)
Pandas(Index=1, col1=-0.35284592091007855, col2=-1.0145041890186792, col3=-0.2025642290483746)
Pandas(Index=2, col1=1.5410225701707614, col2=-0.034267813572387486, col3=2.7789979675161383)
Pandas(Index=3, col1=-0.435442144068729, col2=1.0060850674118742, col3=0.04466375086893816)

In [16]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

       col2      col1
1 -0.442782 -0.558358
4  1.254523 -0.317247
6 -0.107463 -0.019666
2 -0.342222 -1.005388
3 -0.914312  0.977783
5 -0.037085 -0.417392
9 -1.603266  0.137298
8  0.112494  0.529465
0 -1.135771  0.179526
7 -1.693281  1.897096

In [17]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
print(unsorted_df)
sorted_df=unsorted_df.sort_index()
print(sorted_df)

       col2      col1
1  2.082643  0.190699
4  0.127167 -0.903759
6  1.382942  0.714280
2  0.319815 -1.199529
3 -0.169214 -0.072869
5  0.671920 -0.530799
9 -0.650213 -2.539398
8 -0.149554 -1.523906
0 -1.438404  2.232730
7  0.701098  0.659753
       col2      col1
0 -1.438404  2.232730
1  2.082643  0.190699
2  0.319815 -1.199529
3 -0.169214 -0.072869
4  0.127167 -0.903759
5  0.671920 -0.530799
6  1.382942  0.714280
7  0.701098  0.659753
8 -0.149554 -1.523906
9 -0.650213 -2.539398

In [21]:
df2 = unsorted_df.sort_index(ascending=False)

In [22]:
df2

       col2      col1
9 -0.650213 -2.539398
8 -0.149554 -1.523906
7  0.701098  0.659753
6  1.382942  0.714280
5  0.671920 -0.530799
4  0.127167 -0.903759
3 -0.169214 -0.072869
2  0.319815 -1.199529
1  2.082643  0.190699
0 -1.438404  2.232730

In [23]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
sorted_df = unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
9  0.851538 -0.444725
8  1.114092 -0.888615
7  2.905559 -1.558465
6 -1.054920  0.902359
5  0.912705  0.101408
4  0.144747  2.035692
3  0.522882 -0.246790
2  0.380483  3.221186
1  0.400872 -0.440661
0 -0.017888 -0.580971

In [27]:
unsorted_df = pd.DataFrame(np.random.randn(10, 5), index=[1, 4, 6, 2, 3, 5, 9, 8, 0, 7], columns = ['col2', 'col1','col4','col3','col5'])
sorted_df = unsorted_df.sort_index(axis=1)
print(sorted_df)

       col1      col2      col3      col4      col5
1 -1.162577  0.144489  0.572830  1.146104  0.218755
4  0.422002  1.457850 -0.051691  0.399532 -2.069350
6  1.152707 -0.213793  0.311358  0.857397  0.469163
2 -1.274649 -0.529252  0.690247 -0.272962  0.002648
3 -0.798962  0.120577 -0.000307  3.023477  1.162334
5 -1.445592 -0.529874  1.955511  0.984859 -0.049906
9  0.357922 -0.118872 -1.354602 -0.444246 -0.564703
8  1.540304 -0.513284  1.022924  0.437462 -0.363116
0 -1.199841 -0.546232  0.685808 -0.525792  0.095921
7 -2.411491 -1.507678  0.455038  1.288200  0.066994

In [28]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values(by='col1')
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [31]:
unsorted_df = pd.DataFrame(np.random.randn(10, 5), index=[1, 4, 6, 2, 3, 5, 9, 8, 0, 7], columns = ['col2', 'col1','col4','col3','col5'])
sorted_df = unsorted_df.sort_values(by='col3')
print(sorted_df)

       col2      col1      col4      col3      col5
8  1.081080  1.363206  1.312237 -1.412582 -1.790294
3  1.517931  0.251259  0.602936 -1.192905  0.425378
9  0.153722  1.447097 -0.686249 -0.760361  0.840726
7  0.358716  0.212946  1.578329 -0.375671  1.843138
4  0.894888  0.299693  1.509166 -0.253990 -0.420729
5  0.261425 -0.216243  0.519617  0.001206  2.206343
6  0.836559  1.385591 -0.161670  0.013935 -1.304842
0  1.073860  0.069245  1.977369  0.710738 -0.475719
1 -1.160567 -1.329816  0.475320  0.714730 -0.397501
2 -0.720699 -1.730343 -0.957543  1.382756  0.119023

In [33]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
# Select range of rows for all columns
print(df.loc['a':'h',['A','D']])

          A         D
a -0.792492 -0.551398
b  1.253524  0.112474
c -0.839472  0.676781
d  0.167375  0.075609
e  1.247526 -0.581208
f -1.050292  0.559271
g  1.263012 -1.526739
h  1.003018 -1.026114

In [39]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
print(df)
# for getting values with a boolean array
print(df.loc['a']>0)

          A         B         C         D
a  0.332169  0.894456  0.002864 -0.377514
b  0.137617  0.840531  0.744149  0.671780
c -1.344609 -0.467215  0.362693  0.975944
d -0.965009  0.067460 -0.055278  1.454479
e -0.355762  0.452671 -0.380189 -0.612737
f  0.356687 -0.976680  0.106626 -0.169232
g  0.896438 -1.346678 -0.634692 -0.199256
h  2.135791 -0.009141 -0.333928 -1.169982
A     True
B     True
C     True
D    False
Name: a, dtype: bool

In [40]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.444971 -0.665534  0.680597 -1.476912
1  0.635341  0.925095  0.151129 -2.910790
2 -1.221763 -1.041085  0.330772 -0.318472
3 -0.252789 -1.777702 -0.509272 -0.096599
4 -0.564378  0.090376  0.479919 -1.942312
5  0.373680  0.057600  0.882613  1.284850
6  0.722982  1.368809 -0.081927 -0.348344
7 -0.114625 -0.658782 -0.190863 -0.992101

In [ ]:
# df = pd.DataFrame(np.random/.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# print(df[1:4:2])

          A         B         C         D
1  0.635341  0.925095  0.151129 -2.910790
3 -0.252789 -1.777702 -0.509272 -0.096599

In [1]:
import os

In [ ]:
os.mkdir(r"C:\Users\CHROMIUM\Desktop\DATA SCIENCE\Python2024\PandasByWes\Practise")

In [24]:
import re
txt = "hero planet zelo"
x = re.findall("he.?ro", txt)
print(x)

['hero']

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "model": "BMW"
}
print(thisdict)

{'brand': 'Ford', 'model': 'BMW', 'year': 1964}

In [32]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.update([[1,2]])
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 1: 2}

In [20]:
data = (('sravan', 23), ('ojaswi', 15),
        ('rohith', 8), ('gnanesh', 4), ('bobby', 20))

In [21]:
print({key:value for key, value in data if value==23})

{'sravan': 23}

In [18]:
thislist = [2,5,6,8,4,1,3,15]
dc = dict.fromkeys(thislist,5)

In [19]:
dc

{2: 5, 5: 5, 6: 5, 8: 5, 4: 5, 1: 5, 3: 5, 15: 5}

In [22]:
dc.setdefault(5,6)

5

In [23]:
dc

{2: 5, 5: 5, 6: 5, 8: 5, 4: 5, 1: 5, 3: 5, 15: 5}

In [24]:
thisdict = {1:2,3:4,5:7}

In [ ]:
# for i,j in thisdict.items():
#     print(i,j)

1 2
3 4
5 7

In [35]:
thisdict[1] +=  1

In [36]:
thisdict

{1: 3, 3: 4, 5: 7}