In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
#creating a series object from list directly
data = [10,20,30,40,50,60,70]

print(data)

[10, 20, 30, 40, 50, 60, 70]

In [4]:
srs = pd.Series(data)

In [5]:
srs

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [ ]:
#creatimg a series from list adding labels rather than default labels created from ranges() function
data = [10,20,30,40,50,60,70]
labels = [1,2,3,4,5,6,7]

srs = pd.Series(data,labels)

In [7]:
srs

1    10
2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

In [ ]:
#create a series object from

In [1]:
def getSpamEmails(subjects, spam_words):
    # Convert all spam words to lowercase to handle case insensitivity
    spam_words_set = set(word.lower() for word in spam_words)
    
    results = []
    
    for subject in subjects:
        # Split the subject into words, and convert each word to lowercase
        words = subject.lower().split()
        
        # Count occurrences of each spam word in the subject
        spam_count = sum(words.count(word) for word in spam_words_set)
        
        # Check if there are at least 2 spam words in the subject
        if spam_count >= 2:
            results.append("spam")
        else:
            results.append("not_spam")
    
    return results

In [2]:
def getSpamEmails(subjects, spam_words):
    # Convert spam words to lowercase and store them in a set for fast lookups
    spam_words_set = set(word.lower() for word in spam_words)
    
    results = []
    
    for subject in subjects:
        # Convert the subject to lowercase and split into words
        words = subject.lower().split()
        
        # Create a dictionary to count occurrences of each spam word in the subject
        word_count = {}
        
        # Count each word only if itâ€™s in the spam set
        spam_count = 0
        for word in words:
            if word in spam_words_set:
                word_count[word] = word_count.get(word, 0) + 1
                # Increase spam count by the number of occurrences of the spam word
                spam_count += word_count[word]

                # If spam count reaches 2, mark as spam
                if spam_count >= 2:
                    results.append("spam")
                    break
        else:
            # If loop completes without finding 2 spam words, mark as not_spam
            results.append("not_spam")
    
    return results

In [ ]:
def reassignedPriorities(priorities):
    # Step 1: Create a sorted list of unique priorities using a set
    unique_priorities = sorted(set(priorities))
    
    # Step 2: Create a mapping of original priority to new priority
    priority_mapping = {value: idx + 1 for idx, value in enumerate(unique_priorities)}
    
    # Step 3: Reassign priorities using the mapping in one pass
    return [priority_mapping[priority] for priority in priorities]

In [5]:
st1 = "https://www.hackerrank.com/tests/2mblb5p18io/login?b=eyJ1c2VybmFtZSI6ImZ5c2Fsa2FzaW1AZ21haWwuY29tIiwicGFzc3dvcmQiOiJiMzYyN2QzOSIsImhpZGUiOnRydWUsImhpZGVTd2l0Y2hBY2NvdW50IjpmYWxzZSwiaGlkZVNoYXJlSGFja2VyUHJvZmlsZSI6ZmFsc2UsImFjY29tbW9kYXRpb25zIjp7fX0="

In [6]:
st2 = "https://www.hackerrank.com/tests/2mblb5p18io/login?b=eyJ1c2VybmFtZSI6ImZ5c2Fsa2FzaW1AZ21haWwuY29tIiwicGFzc3dvcmQiOiJiMzYyN2QzOSIsImhpZGUiOnRydWUsImhpZGVTd2l0Y2hBY2NvdW50IjpmYWxzZSwiaGlkZVNoYXJlSGFja2VyUHJvZmlsZSI6ZmFsc2UsImFjY29tbW9kYXRpb25zIjp7fX0="

In [7]:
st1 == st2

True

In [2]:
import pandas as pd

In [3]:
data_dict = {
    "Apple":2,
    "Banana":3,
    "Cherry":5,}

In [5]:
srs = pd.Series(data_dict)

In [6]:
print(srs)

Apple     2
Banana    3
Cherry    5
dtype: int64

In [8]:
type(srs)

pandas.core.series.Series

In [10]:
import numpy as np
srs = pd.Series(np.array([1,2,3,4,5,6]))

In [11]:
srs

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [14]:
srb = pd.Series(5,index=(range(10)))

In [15]:
srb

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64

In [17]:
pd.Series(range(10),range(1,11))

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int64

In [18]:
#Series immutability

In [20]:
data = list(range(4))
series = pd.Series(data,index=["a","b","c","d"])

In [21]:
series

a    0
b    1
c    2
d    3
dtype: int64

In [26]:
series.index[2] = "f"  #Immutability proved we cant re assign the labels

TypeError: Index does not support mutable operations

In [ ]:
series.index = ["Q","W","E","R"]   #Entirely chnaging the index value of the series is possible

In [29]:
series

Q    0
W    1
E    2
R    3
dtype: int64

In [36]:
series.reindex(["Z","X","C","V"])  #Re indexing method is used to understand preservation of original object

Z   NaN
X   NaN
C   NaN
V   NaN
dtype: float64

In [37]:
series

Q    0
W    1
E    2
R    3
dtype: int64

# Data Frame in Pandas

#### Data frame from a dcitionary

In [44]:
df = pd.DataFrame({
    "Name":['Alice','Bob','Charlie'],
    "Age" : [20,15,35],
    "City": ["London","Tokyo","New york"],
},index=[9,8,7])

In [45]:
df

      Name  Age      City
9    Alice   20    London
8      Bob   15     Tokyo
7  Charlie   35  New york

In [46]:
#From a list

In [52]:
df = pd.DataFrame([1,2,3,4,5,6,7])
df

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [55]:
df = pd.DataFrame([[1,2],[3,4],[5,6]])
df

   0  1
0  1  2
1  3  4
2  5  6

In [56]:
data = [{"Name":"Alice","Age":20},{"Name":"Bob","Age":25}]

In [57]:
df = pd.DataFrame(data)

In [58]:
df

    Name  Age
0  Alice   20
1    Bob   25

In [ ]:
{"Name":"Alice","Age":20}.fromkeys(20)

{'N': None, 'a': None, 'm': None, 'e': None}